*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --lavender-web: #ECF1F0;
    --languid-lavender: #d3c0cdff;
    --tuscany: #b19994ff;
    --beaver: #D97B2F;
    --dark-liver: #2C5261;
    --white: #fff;
}
body{
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;

}
.container{
    position: relative;
    display: grid;
    grid-template:120px auto /1fr;
    
}
.icon{
    height: 80px;
 }
 .header{
    display: flex;
    justify-content: space-between;
    padding:36px;
    align-items: center;
    background-color: var(--dark-liver);
    color: var(--lavender-web);
    font-size: 16px;
 }
 .logo {
    display: flex;
    gap: 24px;
    align-items: center;
 }
 #addBook{
    padding: 8px 20px;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    color: var(--dark-liver);
    background-color: var(--lavender-web);
    
 }
#inputBook {
    position: absolute;
    top: 30vh;
    left: 38vw;
    height: 45vh;
    width: 25vw;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: var(--dark-liver);
    color: var(--white);
    border-radius: 4px;
}
 .input{
    width: 18vw;
    height: 3.5vh;
    border: none;
    border-radius: 3px;
    font-size: 24px ;
    padding: 3px 7px;
    color: var(--dark-liver);
 }

 .inputBtn  {
    background-color: var(--white);
    color: var(--dark-liver);
    border: 1px solid var(--white);
    padding: 3px 21px;
    font-size: 24px;
    border-radius: 3px;
    width: 18vw;
 }
 #submit{
    background-color: var(--beaver);
    color: var(--white);
    font-weight: 600;
    border: 1px solid var(--beaver);
 }

.hidden{
    visibility: hidden;
}
#main{
    margin: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
}
.card {
     columns: 1/2;
     height: 350px;
     width: 300px;
     margin: 24px;
     background-color: var(--beaver);
     border: 1px solid var(--beaver);
     border-radius: 5px;
     color: var(--white);
     font-size: 18px;
     font-weight: bold;
     padding: 24px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: flex-start;
}
.delete{
        padding: 4px 24px;
        font-size: 24px;
        border: none;
        border-radius: 3px;
        background-color: var(--white);
        color: var(--beaver);
}